# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# =====================
# Data (VERY IMPORTANT)
# =====================
data/raw/
data/processed/
data/final/
*.csv
*.parquet

# =====================
# Logs
# =====================
logs/
*.log

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# Geospatial / heavy files
# =====================
*.shp
*.shx
*.dbf
*.prj
*.geojson

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/